<template>
  <div class="container">
      <router-view/>
      <Footer/>
  </div>
</template>

<style lang="scss">
@import "./assets/style.scss";
</style>

<script>
import Footer from "./components/Footer.vue";

export default {
  components: {Footer}
}
</script>