.product {
  margin: 0 30px 30px 0;
  padding: 25px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease 0s;
  .product-box {
    text-align: center;
  }
}