@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@import "vars";
@import "product";

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $border-color;

  .buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    .button {
      cursor: pointer;
      padding: 10px 15px;
      text-align: center;
      border-radius: 5px;
      margin-right: 10px;
    }

    .btn-primary {
      background-color: #2563eb;
      color: #ffffff;
      border: 1px solid #2563eb;
    }

    .btn-danger {
      background-color: $color-red;
      color: #ffffff;
      border: 1px solid $color-red;
    }
  }
}

.container {
  max-width: 1344px;
  margin: 0 8rem;
}

.content {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &.add-product {
    grid-template-columns: repeat(3, 1fr);
  }
}

form {
  .form-group {
    margin-bottom: 15px;
    .form-subgroup {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      margin-bottom: 5px;
      .label {
        width: 100%;
      }
      .text-section {
        input {
          padding: 12px 8px;
          border-radius: 4px;
          border: 1px solid $border-color;
          width: 280px;
          &.type-specific {
            width: 150px;
          }
        }
        select {
          padding: 8px;
          font-size: 16px;
          width: 200px;
        }
      }
    }
    .validate-error {
      text-align: center;
      color: $color-red;
      font-size: 12px;
    }
  }
  .attr-desc {
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
  }
}

.footer {
  border-top: 2px solid $border-color;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 1200px;
}