<template>
  <div class="header">
    <div class="header-content">
      <h1>Product Add</h1>
    </div>
    <div class="buttons">
      <button @click="addProduct" class="button btn-primary">
        Save
      </button>
      <router-link to="/" class="button btn-danger">
        Cancel
      </router-link>
    </div>
  </div>
  <div class="content add-product">
    <form id="product_form">
      <FormGroup id="sku" label="SKU" type="text" @input="(newSKU) => {sku = newSKU}" :error="errors.sku"/>
      <FormGroup id="name" label="Name" type="text" @input="(newName) => {name = newName}" :error="errors.name"/>
      <FormGroup id="price" label="Price ($)" type="number" @input="(newPrice) => {price = newPrice}" :error="errors.price" min="1"/>

      <!--Type Switcher-->
      <div class="form-group">
        <div class="form-subgroup">
          <div class="label">
            <label>Type Switcher</label>
          </div>
          <div class="text-section">
            <select id="productType" v-model="type">
              <option id="Book" value="book">Book</option>
              <option id="DVD" value="dvd">DVD</option>
              <option id="Furniture" value="furniture">Furniture</option>
            </select>
          </div>
        </div>
        <div class="validate-error">
          <span v-if="errors.type">{{ errors.type }}</span>
        </div>
      </div>
      <!-- Book product type-->
      <div v-if="type === 'book'">
        <FormGroup
            id="weight" input-class="type-specific" label="Weight (KG)" type="number" min="1"
            @input="(newWeight) => {weight = newWeight}" :error="errors.weight"
        />
        <div class="attr-desc">
          <span>Please, provide weight in Kg </span>
        </div>
      </div>

      <!-- Dvd product type-->
      <div v-if="type === 'dvd'">
        <FormGroup
            id="size" input-class="type-specific" label="Size (MB)" type="number" min="1"
            @input="(newSize) => {size = newSize}" :error="errors.size"
        />
        <div class="attr-desc">
          <span>Please, provide disc space in MB </span>
        </div>
      </div>

      <!-- Furniture product type-->
      <div v-if="type === 'furniture'">
        <FormGroup
            id="height" input-class="type-specific" label="Height (CM)" type="number" min="1"
            :error="errors.height" @input="(newHeight) => {height = newHeight}"
        />
        <FormGroup
            id="width" input-class="type-specific" label="Width (CM)" type="number" min="1"
            :error="errors.width" @input="(newWidth) => {width = newWidth}"
        />
        <FormGroup
            id="length" input-class="type-specific" label="Length (CM)" type="number" min="1"
            :error="errors.furnitureLength" @input="(newLength) => {length = newLength}"
        />
        <div class="attr-desc">
          <span>Please provide dimensions in HxWxL format </span>
        </div>
      </div>

    </form>
  </div>
</template>
<script>
import Header from "../components/Header.vue";
import FormGroup from "../components/forms/FormGroup.vue";
import axios from "axios";

const baseURL = "http://127.0.0.1:8000/api/v1/addproduct";

export default {
  components: {FormGroup, Header},
  data() {
    return {
      //form values
      sku: null,
      name: null,
      price: null,
      type: '',
      weight: null,
      size: null,
      height: null,
      width: null,
      length: null,
      products: [],
      errors: [],
    }
  },
  methods: {
    checkForm() {
      this.validateSKU()
      this.validateName()
      this.validatePrice()
      this.validateType()

      this.validateWeight()
      this.validateSize()
      this.validateHeight()
      this.validateWidth()
      this.validateLength()
    },
    validateSKU() {
      this.sku ? this.errors["sku"] = "" : this.errors["sku"] = "SKU field is required."
    },
    validateName() {
      this.name ? this.errors["name"] = "" : this.errors["name"] = "Name field is required."
    },
    validatePrice() {
      this.price > 0 ? this.errors["price"] = "" : this.errors["price"] = "Please provide a valid price"
    },
    validateType() {
      this.type ? this.errors["type"] = "" : this.errors["type"] = "Type field is required."
    },
    validateWeight() {
      this.type === "book" && this.weight > 0 ? this.errors["weight"] = ""
          : this.type === "book" ? this.errors["weight"] = "Please provide a valid weight"
              : this.errors["weight"] = ""

    },
    validateSize() {
      this.type === "dvd" && this.size > 0 ? this.errors["size"] = ""
          : this.type === "dvd" ? this.errors["size"] = "Please provide a valid size."
              : this.errors["size"] = ""
    },
    validateHeight() {
      this.type === "furniture" && this.height > 0 ? this.errors["height"] = ""
          : this.type === "furniture" ? this.errors["height"] = "Please provide a valid Height"
              : this.errors["height"] = ""
    },
    validateWidth() {
      this.type === "furniture" && this.width > 0 ? this.errors["width"] = ""
          : this.type === "furniture" ? this.errors["width"] = "Please provide a valid Width"
              : this.errors["width"] = ""
    },
    validateLength() {
      this.type === "furniture" && this.length > 0 ? this.errors["furnitureLength"] = ""
          : this.type === "furniture" ? this.errors["furnitureLength"] = "Please provide a valid Length"
              : this.errors["furnitureLength"] = ""
    },

    async addProduct() {
      this.checkForm()

      if (this.errorsNull(Object.values(this.errors))) {
        try {
          const productTypes = {
            "book": {
              sku: this.sku, name: this.name, price: this.price,
              dimensions: {
                type: this.type,
                weight: this.weight
              }
            },
            "dvd": {
              sku: this.sku, name: this.name, price: this.price,
              dimensions: {
                type: this.type,
                size: this.size
              }
            },
            "furniture": {
              sku: this.sku, name: this.name, price: this.price,
              dimensions: {
                type: this.type,
                height: this.height,
                width: this.width,
                length: this.length
              }
            }
          }

          let res = await axios.post(baseURL, productTypes[this.type]).then(
            response => {
              window.location.reload()
            }
          )

          this.products = [...this.products, res.data];

          this.sku = "";
          this.name = "";
          this.price = "";
          this.type = "";
          this.weight = "";
          this.size = "";
          this.height = "";
          this.width = "";
          this.length = "";
        } catch (e) {
          console.error(e);
        }
      }
    },
    errorsNull(arr) {
      let result = false;

      for (let i = 0; i <= arr.length; i++) {
        if (arr.every(v => v === arr[i]) && arr[i] === "") {
          result = true
        }
      }

      return result;
    }
  },
  watch: {
    sku(value) {
      this.sku = value
      this.validateSKU(value)
    },
    name(value) {
      this.name = value
      this.validateName(value)
    },
    price(value) {
      this.price = value
      this.validatePrice(value)
    },
    type(value) {
      this.type = value
      this.validateType(value)
    },
    weight(value) {
      this.weight = value
      this.validateWeight(value)
    },
    size(value) {
      this.size = value
      this.validateSize(value)
    },
    height(value) {
      this.height = value
      this.validateHeight(value)
    },
    width(value) {
      this.width = value
      this.validateWidth(value)
    },
    length(value) {
      this.length = value
      this.validateLength(value)
    }
  }
}
</script>