<template>
  <div class="header">
    <div class="header-content">
      <h1>Product List</h1>
    </div>
    <div class="buttons">
      <router-link to="/addproduct" class="button btn-primary main">
        ADD
      </router-link>
      <button id="delete-product-btn" class="button btn-danger main" @click="massDelete">MASS DELETE</button>
    </div>
  </div>
  <div class="content">
    <div class="product" v-for="product in products" :key="product.id">
      <div>
        <input class="delete-checkbox" type="checkbox" :value="product.id" v-model="checkedProducts"/>
      </div>
      <Product :sku="product.sku" :name="product.name" :price="product.price" :dimensions="product.dimensions"/>
    </div>
  </div>
</template>
<script>
import Product from "../components/Product.vue";
import axios from "axios";

const baseURL = "http://127.0.0.1:8000/api/v1/products";

export default {
  components: {Product},
  data() {
    return {
      products: [],
      checkedProducts: []
    }
  },
  mounted() {
    axios.get(baseURL).then(response => {
      this.products = response.data
    })
  },
  methods: {
    async massDelete() {

      await axios.delete("http://127.0.0.1:8000/api/v1/deleteproducts", {data: this.checkedProducts})
      .then(response => {
        window.location.reload()
      })
    }
  }
}
</script>