<template>
  <div class="header">
    <div class="header-content">
      <h1>Product List</h1>
    </div>
    <div class="buttons">
      <router-link to="/addproduct" class="button btn-primary main">
        ADD
      </router-link>
      <button id="delete-product-btn" class="button btn-danger main" @click="massDelete">MASS DELETE</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Header",
  props: ['checkedProducts'],
  data() {
    return {
      checkedIds: []
    }
  },
  methods: {
    async massDelete() {
      this.emitter.emit("mass-delete")

      await axios.delete("http://localhost:8000/api/v1/deleteproducts", {data: this.checkedIDs});
    }
  },
  computed: {
    checkedIDs() {
      let localOptions = Object.assign({}, this.checkedIds)
      localOptions = this.checkedProducts
      return localOptions
    }
  }
}
</script>