<template>
  <div class="product-box">
    <p>{{ sku }}</p>
    <p>{{ name }}</p>
    <p>{{ price }} $</p>

    <p v-if="dimensions.type === 'book'"> Weight: {{ dimensions.weight }}KG</p>
    <p v-if="dimensions.type === 'dvd'"> Size: {{ dimensions.size }} MB</p>
    <p v-if="dimensions.type === 'furniture'"> Dimension:
      {{ dimensions.length }}x{{ dimensions.width }}x{{ dimensions.height }}</p>
  </div>
</template>

<script>
export default {
  name: "Product",
  props: ['sku', 'name', 'price', 'dimensions']
}
</script>

<style scoped>

</style>