<template>
  <div class="form-group">
    <div class="form-subgroup">
      <div class="label">
        <label>{{ label }}</label>
      </div>
      <div class="text-section">
        <input :id="id" :class="inputClass" :type="type" :min="min" v-model="value" required/>
      </div>
    </div>
    <div class="validate-error">
      <span v-if="error">{{ error }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "FormGroup",
  props: {
    id: String,
    label: String,
    type: String,
    min: String,
    value: {
      type: [String, Number]
    },
    error: {},
    inputClass: String
  },
  watch: {
    value() {
      this.$emit('input', this.value);
    }
  }
}
</script>